<div class="myContainer">
    <h3>Features Covered.</h3>

    <ul>
        <li>ASP.NET MVC and Web API</li>
        <li>   IOC</li>
        <li>   Repository Pattern</li>
        <li>   Services Layer</li>
        <li>   Versioning</li>
        <li>   Entity Framework - Database Access - Azure Sql Server</li>
        <li>    No Sql Implementation - Azure Table Storage</li>
        <li>   Automapper and Moq</li>
        <li>Unit Testing</li>
        <li>    Exception Handling  and ELMAH</li>
        <li>    Help Documentation</li>
        <li> Configuration Testing and Release Config Transformation</li>
        <li>  Grid Control and Pagination support - Dynamic Objects</li>
        <li> BootStrap And Adaptive/Responsive UI</li>
        <li>   Web API ( Model Binding, Validation and Testing ) </li>
        <li>Server side Asynchronous processing</li>
        <li>Asynchronous requests via Ajax calls</li>
        <li>Angular : MVVM (Clear separation of UI and Logic) : A step away from Jquery based UI manipulation</li>
        <li>Search Service  - B-Tree Implementation - <a href="https://en.wikipedia.org/wiki/B-tree"> What's a B-Tree? </a> </li>
    </ul>
</div>




