@{
    ViewData["Title"] = "About";
}
<h3>@ViewData["Title"].</h3>

<p>This is a sample application that displays weather related information </p>
<p>Usage of the following tools and libraries are demonstrated  </p>


<ul>
    <li>Boot Strap : Grid System</li>
    <li>Boot Strap : Built in CSS classes</li>
    <li>HTML5 features : Geo Location</li>
    <li>HTML5 features : Web GL 3D Animation</li>
    <li>Angular : MVVM (Clear separation of UI and Logic) : A step away from Jquery based UI manipulation</li>
    <li>ASP.NET MVC</li>
    <li>Asynchronous requests via Ajax calls</li>
    <li>Web API</li>
    <li>Server side Asynchronous processing</li>
    <li>Usage of Azure NoSql Data store </li>
    <li>Dependency Injection</li>
    <li>Repository Design Pattern</li>
</ul>


