@{
    ViewData["Title"] = "Contact";
}
<h3>@ViewData["Title"].</h3>

<address>
    Byron Pinto<br />
    <abbr title="Phone">P:</abbr>
    214-469-6377
</address>

<address>
    <strong>Support:</strong> <a href="mailto:byronpinto@yahoo.com">byronpinto@yahoo.com</a><br />
</address>
