@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="visible-lg visible-md hidden-sm hidden-xs hidden-xss">
    Large UI 

</div>

<div class="hidden-lg hidden-md visible-sm visible-xs visible-xss" >
    Small width
</div>

