<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <!-- Required Stylesheets -->
    <link href="~/scriptsfontscss/css/bootstrap.css" rel="stylesheet">
    <link href="~/scriptsfontscss/css/site.css" rel="stylesheet">

</head>

<body>

        <div id="Content" class="DaContentContainer">
            @RenderBody()
        </div>

</body>
</html>
