<?xml version="1.0" encoding="utf-8"?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ITRC">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://doh01aptumisvq4/TRC.Lookup/TRC.svc"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITRC"
          contract="ITRC" name="WSHttpBinding_ITRC" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="HL7ReportableDB" value="Data Source=DOHLTTUM1608544\BYRONSQLSERVER;Initial Catalog=HL7_Reportable;User ID=test;Password=111111;MultipleActiveResultSets=True" />

  </appSettings>
  <connectionStrings>

  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
